.navbar {
    height: 100px;
}

h1 {
    color: white;
}

.forecast-box {
    background-color: #007bff;
    color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;

}

#forecast-weather,
#current-weather {
    margin-top: 15px;
}

h3 {
    padding-top: 15px;
    padding-bottom: 15px;
}

h4, p {
    padding-top: 5px;
    padding-bottom: 5px;
}

